*{  
    margin:0;  
    padding:0;  
    list-style-type:none;  
}  
body{
		color:#000000;font:12px Arial;
} 
#star  
{  
    position:relative; 
	float:left; 
    width:712px;  
    height:132px;  
    margin:2px; 
	background-image: url(../images/animal.gif);
	background-repeat:no-repeat ;	
	
} 
#star span.main
{	
    float:left;  
    display:inline;  
    height:26px;  
	font-family:"hakuyoxingshu7000";
	font-size:20px;
    line-height:26px; 
}
#star span
{	
    float:left;  
    display:inline; 
    height:26px;  	
	color:#666;
	font:20px;
    line-height:26px; 
}
#star ul 
{  
    float:left;  
    display:inline;  
    height:26px;  
    line-height:26px;  
	margin:0px 10px;  
}   
#star  li  
{  	
    float:left;  
    width:24px; 
	cursor:pointer;	 
    text-indent:-9999px;  
    background:url(../images/star_image.png) no-repeat;  
}  
#star strong{
	color:#f60;
	padding-left:10px;
	}
#star .li_hover{
	background:url(../images/star_image.png) no-repeat 0 -24px;
	}  
#star p{
	position:absolute;
	top:50px;	
	word-wrap:break-all;
	width:160px;
	height:80px;
	display:none;
	color:black;
	background:url(../images/dialog.png) no-repeat;
	padding:20px 80px 10px 30px; 
	}  
#star p em{
	color:#f60;
	display:block;
	font-style:normal;
	}  